<div class="userListheader">
  <mat-toolbar color="primary">
    <div class="avatar-wrapper">
      <img
        src="../../../assets/user.png"
        class="mat-avatar avatar"
        alt="{{ user.lastName }}"
      />
      <mat-icon class="s-16 status online__status"></mat-icon>
    </div>
    <div class="userDeatails">
      <h1>{{ user.lastName }}</h1>
    </div>
    <mat-divider></mat-divider>
    <div
      class="search-wrapper"
      fxFlex
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="s-16 secondary-text">search</mat-icon>
        <input type="text" placeholder="Search or start new chat" fxFlex />
      </div>
    </div>
  </mat-toolbar>
</div>
<!-- / SIDENAV HEADER -->
<!-- /mat content -->
<mat-divider></mat-divider>
<div class="chat_user_side__content">
  <div class="chat__list">
    <div matSubheader *ngIf="(users$ | async)?.length > 0">Chats</div>
    <button mat-button class="contact" *ngFor="let chatUser of users$ | async">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div
          class="avatar-wrapper"
          fxFlex="0 1 auto"
          fxLayoutAlign="center center"
        >
          <img
            class="avatar"
            src="../../../assets/loginuser.jpg"
            alt="chatUser.lastName"
          />
          <mat-icon class="s-16 status"></mat-icon>
        </div>

        <div fxLayout="row" fxFlex>
          <div
            class="pr-4"
            fxFlex
            fxLayout="column"
            fxLayoutAlign="center start"
          >
            <div class="contact-name">
              {{ chatUser.lastName }}
            </div>
            <!-- <div class="contact-last-message">
                    {{ chat.lastMessage }}
                </div> -->
          </div>

          <div fxLayout="column" fxLayoutAlign="start end">
            <div class="contact-last-message-time">10.12.2021</div>
            <div class="mt-4 unread-message-count accent">unread</div>
          </div>
        </div>
      </div>
    </button>
  </div>
</div>
