<div class="userListheader">
  <mat-toolbar class="userListheader__toolbar">
    <div class="userListheader__user">
      <img
        src="../../../assets/user.png"
        class="mat-avatar avatar"
        alt="{{ user.lastName }}"
      />
      <mat-icon class="status">brightness_1</mat-icon>

      <h1 class="userName">{{ user.firstName }} {{ user.lastName }}</h1>
    </div>
    <div class="userHeader_menu">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Logout</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
  </mat-toolbar>
  <mat-toolbar class="search_toolbar">
    <div class="search">
      <mat-icon>search</mat-icon>
      <input type="text" placeholder="Search or start new chat" />
    </div>
  </mat-toolbar>
</div>
<!-- / SIDENAV HEADER -->
<!-- /mat content -->
<mat-divider></mat-divider>
<div class="chat__user__container">
  <div class="chat_user_side__content">
    <div class="chat__list">
      <div matSubheader *ngIf="(users$ | async)?.length > 0">Chats</div>
      <div class="chat__list__navitem">
        <div *ngFor="let link of users$ | async" class="chat__list__user">
          <button
            mat-button
            class="chat__list__nav"
            [routerLink]="['/chat/t', link.id]"
            routerLinkActive="mat-accent"
          >
            <div class="chat__list__header">
              <img
                src="../../../assets/user.png"
                class="user_avater avatar"
                alt="{{ user.lastName }}"
              />
              <mat-icon class="status">brightness_1</mat-icon>
              <h3>{{ link.lastName }}</h3>
            </div>
            <div class="lastMessage">
              <p>last message goes to heres sssff</p>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
