.message {
  /* position: sticky;
  top: 50;
  left: 0; */
  padding: 10px;
  display: flex;
  justify-items: center;
  /* position: relative; */
  overflow-y: scroll;
}
.message__left {
  flex: 1 1 30%;
  height: 80vh;
  align-self: flex-start;

  overflow-y: scroll;
  position: relative;
}
.search {
  position: sticky;
  top: 0;
  left: 0;
  height: 100px;
  z-index: 1;
  background: rgb(17, 15, 15);
  color: #fff;
  padding: 20px;
  text-align: center;
}
.list {
  margin-top: 10px;
}
.message__right {
  flex: 1 1 70%;
  display: flex;
  justify-content: center;
}
