.message {
  padding: 10px;
  display: flex;
  justify-items: center;
}
.message__left {
  flex: 1 1 400px;
  display: flex;
  justify-content: center;
}
.message__left__container {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 100px;
  left: 0;
  flex-direction: column;
}
.message__left__list {
  max-height: 80vh;
  overflow-y: scroll;
}
.message__right {
  flex: 1 1 500px;
  display: flex;
  justify-content: center;
}
.message__right__container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 100px;
  left: 30%;
  flex-direction: column;
}
.message__right__header {
  position: sticky;
  top: 50px;
  left: 300px;
}
.message__right__body {
  width: 80%;
  max-height: 80vh;
  overflow-y: scroll;
}
