<div class="login">
  <div class="card">
    <h4
      class="card-header"
      style="text-align: center; margin-bottom: 15px; margin-top: -20px"
    >
      Sign In Form
    </h4>
    <form [formGroup]="loginForm" (ngSubmit)="logIn()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          formControlName="email"
          class="form-control"
          [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }"
        />
        <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email is invalid</div>
        </div>
      </div>
      <button [disabled]="!loginForm.valid" class="btn btn-primary">
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Login
      </button>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>
    </form>
    <h4>
      Don't have an account
      <span
        ><a
          class="nav-link"
          [routerLink]="['/register']"
          style="display: inline-block"
          >Register</a
        ></span
      >
    </h4>
  </div>
</div>
