<div class="chat__container">
  <mat-sidenav-container
    class="sidenav-container mat-app-background custom-sidenav-container"
  >
    <mat-sidenav
      #drawer
      class="sidenav"
      [opened]="isOpened"
      matIsLockedOpen="gt-md"
    >
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/chat/user/1">chat home</a>
        <a mat-list-item href="#">Search</a>
        <a mat-list-item routerLink="/home">Home</a>
        <a mat-list-item href="#">Search</a>
        <a mat-list-item routerLink="/home">Home</a>
        <a mat-list-item href="#">Search</a>
        <a mat-list-item routerLink="/home">Home</a>
        <a mat-list-item href="#">Search</a>
        <a mat-list-item routerLink="/home">Home</a>
        <a mat-list-item href="#">Search</a>
        <a mat-list-item routerLink="/home">Home</a>
        <a mat-list-item href="#">Search</a>
        <a mat-list-item routerLink="/home">Home</a>
        <a mat-list-item href="#">Search</a>
        <a mat-list-item routerLink="/home">Home</a>
        <a mat-list-item href="#">Search</a>
        <a mat-list-item routerLink="/home">Home</a>
        <a mat-list-item href="#">Search</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="chat__toolbar">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Market</span>
        <span style="flex: auto"></span>
      </mat-toolbar>
      <div class="chat_bg"></div>
      <div class="chat">
        <div class="chat__left">
          <app-chat-user-list></app-chat-user-list>
        </div>
        <div class="chat__right">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
