<div class="chat__container">
  <mat-sidenav-container
    class="sidenav-container mat-app-background custom-sidenav-container"
    style="overflow: none !important"
  >
    <mat-sidenav
      #drawer
      class="sidenav"
      [opened]="isOpened"
      matIsLockedOpen="gt-md"
    >
      <mat-toolbar *ngIf="isHandset$ | async">
        <button mat-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>
      <mat-nav-list>
        <app-chat-user-list></app-chat-user-list>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="overflow: none !important">
      <mat-toolbar color="primary" class="chat__toolbar">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Chat App</span>
        <span style="flex: auto"></span>
      </mat-toolbar>
      <div class="chat_bg"></div>
      <div class="chat">
        <div class="chat__left" *ngIf="!(isHandset$ | async)">
          <app-chat-user-list></app-chat-user-list>
        </div>
        <div class="chat__right">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
