.header {
  position: fixed;
  top: 0;
  z-index: 5;
  height: 60px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  box-shadow: 5px 5px 2px gray;
}
.header > li {
  list-style: none;
}
.header > li > a {
  cursor: pointer;
}
