<div class="header">
  <ng-container *ngIf="!authService.loggedIn()">
    <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link" [routerLink]="['']"> Home </a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link" [routerLink]="['/login']"> Login </a>
    </li>
  </ng-container>

  <ng-container *ngIf="authService.loggedIn()">
    <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link" [routerLink]="['/message']">Message</a>
    </li>
    <li class="nav-item">
      <span
        >Welcome {{ user?.firstName }} {{ user?.lastName }} to Chat app</span
      >
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
      <a (click)="authService.logout()">Logout</a>
    </li>
  </ng-container>
</div>
