<div class="register">
  <div class="card">
    <h4
      class="card-header"
      style="text-align: center; margin-bottom: 15px; margin-top: -20px"
    >
      Register
    </h4>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          formControlName="email"
          class="form-control"
          [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }"
          email
        />
        <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email is invalid</div>
        </div>
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          formControlName="firstName"
          class="form-control"
          [ngClass]="{
            'is-invalid': f.firstName.touched && f.firstName.errors
          }"
        />
        <div
          *ngIf="f.firstName.touched && f.firstName.errors"
          class="invalid-feedback"
        >
          <div *ngIf="f.firstName.errors.required">First Name is required</div>
          <div *ngIf="f.firstName.hasError('minlength')">
            Atleast 3 charecters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          formControlName="lastName"
          class="form-control"
          [ngClass]="{ 'is-invalid': f.lastName.touched && f.lastName.errors }"
        />
        <div
          *ngIf="f.lastName.touched && f.lastName.errors"
          class="invalid-feedback"
        >
          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
          <div *ngIf="f.lastName.errors.minlength">Atleast 3 charecters</div>
        </div>
      </div>
      <button [disabled]="!registerForm.valid" class="btn btn-primary">
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Register
      </button>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>
    </form>
    <h4>
      Have an account
      <a
        class="nav-link"
        [routerLink]="['/login']"
        style="display: inline-block"
        >Go To Login</a
      >
    </h4>
  </div>
</div>
